.appPromo {
  align-items: center;
  background-color: #2fbcf7;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  object-fit: contain;
}

.social {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  width: 120px;
}

.phone {
  position: relative;

  .play {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -25%);
  }
}
