@import 'appPromo.css';

.loginPage{
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.loginForm {
  position: relative;
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginForm .targetTitle {
  height: 27px;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 3px;
  color: #000000;
  margin-top: 2rem;
}

.loginForm .targetSlogan{
  height: 32px;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.78;
  letter-spacing: normal;
  color: #212121;
  margin-bottom: 0;
}

.loginForm .targetDescription{
  text-justify: inter-word;
  width: 310px;
  height: 78px;
  font-family: sans-serif;
  font-size: 14px;
  word-wrap: normal;
  word-break: normal;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.86;
  letter-spacing: normal;
  color: #000000;
}

.aboutContact{
  display: flex;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.cross{
  margin-right: 1rem;
  font-size: 1.2rem;
}

.about{
  letter-spacing: 2px;
  color: black;
  font-weight: bold;
}

.contact {
  letter-spacing: 2px;
  color: black;
}

.loginBtn{
  margin-top: 21px;
  color: white;
  background-color: black;
  justify-content: center;
  padding: 1rem 4rem 1rem 4rem;
}

.loginFields{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textField{
  width: 188px;
  height: 37px;
  margin: 21px;
}
