@import 'constants.scss';
@import '~loaders.css/src/animations/ball-scale-multiple';
@import 'settings';
@import 'loginSignupPage.scss';
@import 'homePage.scss';
@import 'reactSelect.scss';
@import 'conversations.scss';

body,
html {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 100%;
  height: 100%;
}

#app {
  height: 100%;
}

.loading-wrapper {
  align-items: center;
  display: flex;
  height: 5rem;
  justify-content: center;
  width: 5rem;

  // These two classes are required by react-loaders
  .loader-hidden { display: none; }
  .loader-active { display: block; }
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hl {
  background-color: gray;
  height: 2px;
  width: 100%;
}

.delete-target {
  align-items: center;
  background-color: $red;
  border: solid 1 px;
  color: $white;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  justify-content: center;
  left: 50%;
  letter-spacing: 2px;
  padding: 10px;
  position: fixed;
  top: 20px;
  z-index: 200;
}

.target-title {
  color: $black;
  font-family: sans-serif;
  font-size: 20px;
  font-stretch: normal;
  font-style: normal;
  font-weight: bold;
  height: 27px;
  letter-spacing: 3px;
  line-height: normal;
  margin-top: 2rem;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  justify-content: center;
  margin-top: 2rem;
}

.center {
  text-align: center;
}

.button {
  background-color: $black;
  color: white;
  font-size: .7rem;
  font-weight: 500;
  justify-content: center;
  letter-spacing: 3px;
  margin-top: 21px;
  text-transform: uppercase;
}

.separator {
  background-color: gray;
  height: 2px;
  margin: 1rem;
  width: 121px;
}

.input-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.input {
  height: 37px;
  margin: 0 0 41px 0;
  position: relative;
  width: 188px;

  input {
    border: solid 1px $black;
    display: inline;
    font-size: .7rem;
    font-weight: 400;
    text-align: center;
  }

  input::placeholder {
    color: gray;
  }

  label {
    font-size: .65rem;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
  }

  .red-box {
    border: solid 1px red;
  }

  .error {
    color: red;
    font-size: .7rem;
    position: absolute;
    right: 0;
    top: 70%;
    transform: translateX(110%);
  }
}
