@import 'constants.scss';
@import '~loaders.css/src/animations/ball-scale-multiple';
@import 'settings';
@import 'loginSignupPage.scss';
@import 'homePage.scss';

body,
html {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 100%;
  height: 100%;
}

#app {
  height: 100%;
}

.loading-wrapper {
  align-items: center;
  display: flex;
  height: 5rem;
  justify-content: center;
  width: 5rem;

  // These two classes are required by react-loaders
  .loader-hidden { display: none; }
  .loader-active { display: block; }
}

.target-title {
  color: $black;
  font-family: sans-serif;
  font-size: 20px;
  font-stretch: normal;
  font-style: normal;
  font-weight: bold;
  height: 27px;
  letter-spacing: 3px;
  line-height: normal;
  margin-top: 2rem;
}

.form {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
}

.button {
  background-color: $black;
  color: white;
  font-size: .7rem;
  font-weight: 500;
  justify-content: center;
  letter-spacing: 3px;
  margin-top: 21px;
  text-transform: uppercase;
}
